.nav-item {
  @apply relative inline-block
  after:content-[''] after:absolute
  after:left-0 after:bottom-0
  after:w-full after:h-[1px]
  after:bg-gray-900/90
  after:scale-x-0 after:origin-right
  hover:after:scale-x-100 hover:after:origin-left
  after:transition-all after:duration-300;
}
